@charset "utf-8";

/* 화면 0 ~ 1786px */
@media screen and (max-width:1786px) {
  .top-menu .container {
    padding: 0 18px;
  }  
  
  .header .container {
    padding: 0 18px;
  }

  .menu-bar-page .container {
    padding: 0 18px;
  }

  .footer .container {
    padding: 40px 18px 120px;
  }
}

/* 화면 0 ~ 1780px */
@media screen and (max-width:1786px) {
  .visual4 .container .bot-wrap {
    gap: 80px;
  }

  .visual4 .container .bot-wrap a {
    width: 420px;
    height: 420px;
  }

  .visual4 .container .bot-wrap a p {
    font-size: 36px;
    line-height: 52px;
  }

  .visual4 .container .bot-wrap a span {
    font-size: 22px;
    line-height: 34px;
  }

}

/* 화면 0 ~ 1620px */
@media screen and (max-width:1620px) {
  .visual5 .circle1 {
    display: none;
  }
}

/* 화면 0 ~ 1480px */
@media screen and (max-width:1480px) {
  .visual4 .container .bot-wrap a {
    width: 360px;
    height: 360px;
  }

  .visual4 .container .bot-wrap {
    gap: 60px;
  }

  .visual4 .container .bot-wrap a p {
    font-size: 30px;
    line-height: 43px;
  }

  .visual4 .container .bot-wrap a span {
    font-size: 20px;
    line-height: 36px;
  }
}

/* 화면 0 ~ 1400px */
@media screen and (max-width:1400px) {
  .header .container .nav > li > a {
    font-size: 18px;
  }

  .header .container .nav > li {
    padding: 0 20px;
  }

  .menu-bar-page .container .item span {
    font-size: 26px;
  }

  .menu-bar-page .container .item a {
    font-size: 16px;
  }

}

/* 화면 0 ~ 1220px */
@media screen and (max-width:1220px) {
  .visual4 .container .bot-wrap {
    flex-direction: column;
    align-items: center;
  }

  .visual4 .container .bot-wrap a {
    width: 520px;
    height: 520px;
  }

  .visual4 .container .bot-wrap a p {
    font-size: 46px;
    line-height: 67px;
  }

  .visual4 .container .bot-wrap a span {
    font-size: 26px;
  }

  .menu-bar-page .container .item {
    padding: 30px 35px;
    height: 520px;
  }

  .menu-bar-page .container .item span {
    font-size: 22px;
    line-height: 32px;
  }

  .menu-bar-page .container .item a {
    font-size: 14px;
    line-height: 23px;
  }

}

/* 화면 0 ~ 1196px */
@media screen and (max-width:1196px) {
  .visual5 .container .bot-wrap a:nth-of-type(2), 
  .visual5 .container .bot-wrap a:nth-of-type(5) {
    margin-top: 0;
  }
}

/* 화면 0 ~ 1084px */
@media screen and (max-width:1084px) {
  .footer .container .footer-top .nav a {
    font-size: 13px;
  }

  .footer .container .footer-top button span {
    font-size: 18px;
    padding-right: 70px;
  }
  .footer .container .footer-top button .sns-wrap a {
    font-size: 13px;
  }

  .footer .container .footer-mid .box-txt {
    font-size: 13px;
  }

  .footer .container .footer-mid span {
    font-size: 22px;
  }

  .footer .container .footer-bot address span {
    font-size: 12px;
  }

  .footer .container .footer-bot .family-btn span {
    font-size: 14px;
  }

  .footer .container .footer-bot .family-btn .family-wrap a {
    font-size: 13px;
  }
}


/* 화면 0 ~ 1006px */
@media screen and (max-width:1006px) {
  .footer .container .footer-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

/* 화면 0 ~ 940px */
@media screen and (max-width:940px) {
  .header .container .nav {
    display: none;
  }
}

/* 화면 0 ~ 851px */
@media screen and (max-width:851px) {
  .footer .container .footer-top .nav div:nth-of-type(2) {
    margin-top: 8px;
  }
}



/* 화면 0 ~ 658px */
@media screen and (max-width:658px) {
  .footer .container .footer-mid {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .footer .container .footer-bot {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

/* 화면 0 ~ 624px */
@media screen and (max-width:624px) {
  .container .top-wrap .main-tit {
    font-size: 76px;
  }

  .container .top-wrap .txt1 {
    font-size: 22px;
  }

  .container .top-wrap .txt2 {
    font-size: 13px;
  }

}

/* 화면 0 ~ 556px */
@media screen and (max-width:556px) {
  .visual4 .container .bot-wrap a {
    width: 420px;
    height: 420px;
  }

  .visual4 .container .bot-wrap a p {
    font-size: 36px;
    line-height: 52px;
  }

  .visual4 .container .bot-wrap a span {
    font-size: 22px;
    line-height: 34px;
  }
}
